.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid var(--clr-secondary);
}

.navbar-logo {
    width: 64px;
    height: 64px;
    background-color: var(--clr-secondary);
}

.toggle-btn {
    width: 100px;
    height: 48px;
    position: relative;
    display: inline-block;
}

.toggle-btn input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #00000033;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    outline: none;
    background-color: #fff;
}

.toggle-btn .circle {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all 300ms ease-in-out;
    pointer-events: none;
    border: 8px solid var(--clr-cta);
    border-radius: 50%;
}

.toggle-btn .circle::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 80%;
    top: -2px;
    left: 0;
    border-radius: 50%;
    transform: rotate(30deg) scale(0);
    transition: all 300ms ease-in-out;
    transition-delay: 50ms;
}

.toggle-btn input[type="checkbox"]:checked {
    background-color: var(--clr-cta);
}

.toggle-btn input[type="checkbox"]:checked~.circle {
    left: 55px;
    border: 0;
    background-color: #fff;
}

.toggle-btn input[type="checkbox"]:checked~.circle::before {
    background-color: var(--clr-cta);
    transform: rotate(30deg) scale(1);
}