<div>
    <h3>Biceps</h3>
    <button (click)="selectHumanBodyGroup('biceps')">+</button>
</div>
<div>
    <h3>Bras</h3>
    <button (click)="selectHumanBodyGroup('arm')">+</button>
</div>
<div>
    <h3>Avant-Bras</h3>
    <button (click)="selectHumanBodyGroup('forearm')">+</button>
</div>
<div>
    <h3>Epaules</h3>
    <button (click)="selectHumanBodyGroup('shoulder')">+</button>
</div>
<div>
    <h3>Avant-Bras</h3>

</div>
<div>
    <h3>Epaules</h3>
    <button (click)="selectHumanBodyGroup('shoulder')">+</button>
</div>
<div>
    <h3>Trapèzes</h3>
    <button (click)="selectHumanBodyGroup('trapeze')">+</button>
</div>
<div>
    <h3>Pectoraux</h3>
    <button (click)="selectHumanBodyGroup('pectoral')">+</button>
</div>
<div>
    <h3>Cou</h3>
    <button (click)="selectHumanBodyGroup('neck')">+</button>
</div>
<div>
    <h3>Obliques</h3>
    <button (click)="selectHumanBodyGroup('oblique')">+</button>
</div>
<div>
    <h3>Jambes</h3>
    <button (click)="selectHumanBodyGroup('leg')">+</button>
</div>

<div>
    <h3>Abdos</h3>
    <button (click)="selectHumanBodyGroup('core')">+</button>
</div>

<app-human-body></app-human-body>

<div>
    <h4></h4>
</div>