<label class="toggle-btn" (click)="toggleTheme()">
    <input type="checkbox" />
    <span class="circle"></span>
  </label>

<div class="flex option">
    <button class="option-button" (click)="toggleHumanFigure()"></button>
    <h3 class="option-title"><span *ngIf="!humanFigureShowed">Afficher</span><span *ngIf="humanFigureShowed">Masquer</span> Silhouette</h3>
</div>
<div class="flex">
    <app-body-front class="flex-item flex"></app-body-front>
    <app-body-back class="flex-item flex"></app-body-back>
    <app-body-info class="flex-item"></app-body-info>
</div>
