<div class="body-info">
    <div class="body-info-topbar" *ngIf="bodyPartSelected != 'none'">
    <span class="body-info-title">Partie sélectionnée : </span> <span class="body-part-selected">{{bodyPartSelected}}</span>
</div>

<div class="body-info-grid">
    <div class="body-info-card"><span class="body-info-card-title">Blessures</span></div>
    <div class="body-info-card"><span class="body-info-card-title">Pathologies</span></div>
    <div class="body-info-card"><span class="body-info-card-title">Réeducation</span></div>
    <div class="body-info-card"><span class="body-info-card-title">Renforcement</span></div>
</div>
</div>

