* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    color: var(--clr-text);
}

body {
    background-color: var(--clr-main);
}

:root {
    --clr-cta : #0094b9;
    /* --clr-cta : #06fed2; */
    --clr-main : #17181a;
    --clr-secondary : #2e2f31;
    --clr-body-part : #fff;
    --clr-text : #fff;
    --clr-body-figure : #2e2f31;
    --clr-grey : #F1F6F9;
}

body.light-theme  {
    --clr-cta : #017d9c;
    /* --clr-cta : #06fed2; */
    --clr-main : #F1F6F9;
    --clr-secondary : #fff;
    --clr-body-part : #17181a;
    --clr-text : #17181a;
    --clr-body-figure : #FFF;
    --clr-grey : #eef4f8;
}

body {
    padding: 20px 7%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-item {
    width: fit-content
}

.option {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.option-button {
width: 12px;
height: 12px;
border-radius: 12px;
background-color: var(--clr-grey);
outline: none;
border: none;
}

.option-button-selected {
    background-color: var(--clr-cta);
}

.option-title {
    font-size: 16px;
    font-weight: 500;
    padding-left: 12px;
}

.body-options-container {
    background-color: var(--clr-secondary);
    padding: 15px;
    border-radius: 4px;
}